{% extends "admin/product_categories/layout.html" %}

{% block title %}
Delete Category - {{ category.name }}
{% endblock title %}

{% block content %}
<h1>Delete Category</h1>
<p>Are you sure you want to delete the category <strong>{{ category.name }}</strong>? This action cannot be undone.</p>
<form method="POST" action="{{ url_for('admin.delete_category_page', id=category.id) }}">
    {{ form.hidden_tag() }}
    <div class="action">
        {{ form.confirm_delete }}
    </div>
</form>
{% endblock content %}