<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ app_name }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Space+Grotesk:wght@300..700&display=swap"
        rel="stylesheet">
    {% block style %}{% endblock style %}
</head>

<body>
    <div id="flash-messages-container"></div>
    {% block body %}{% endblock body %}

    <script>
        const flashMessages = [
            {% for category, message in get_flashed_messages(with_categories = True) %}
        { category: "{{ category }}", message: "{{ message }}" }
        {% if not loop.last %}, {% endif %}
        {% endfor %}
    ];
    </script>
    <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
</body>

</html>